<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.juumii.mapper.EnhancerMapper">

    <resultMap id="EnhancerMap" type="pers.juumii.data.Enhancer">
        <id column="id" property="id"/>
        <result column="introduction" property="introduction"/>
        <result column="length" property="length" typeHandler="pers.juumii.handler.MybatisDurationTypeHandler"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="privacy" property="privacy"/>
        <collection property="labels" select="pers.juumii.mapper.LabelMapper.queryByEnhancerId" column="id"/>
        <collection property="resources" select="pers.juumii.mapper.ResourceMapper.queryByEnhancerId" column="id"/>
    </resultMap>
    <insert id="connectToUser">
        INSERT INTO user_enhancer (user_id, enhancer_id) VALUE (#{userId}, #{enhancerId})
    </insert>
    <insert id="attach">
        INSERT INTO enhancer_resource (enhancer_id, resource_id) VALUE (#{enhancerId}, #{resourceId})
    </insert>
    <insert id="label">
        INSERT INTO enhancer_label (enhancer_id, label_name) VALUE (#{enhancerId}, #{labelName})
    </insert>
    <insert id="connectEnhancerToKnode">
        INSERT INTO enhancer_knode (enhancer_id, knode_id) VALUE (#{enhancerId}, #{knodeId})
    </insert>
    <delete id="disconnectFromUser">
        DELETE FROM user_enhancer WHERE user_id = #{userId} AND enhancer_id = #{enhancerId}
    </delete>
    <delete id="detach">
        DELETE FROM enhancer_resource WHERE enhancer_id = #{enhancerId} AND resource_id = #{resourceId}
    </delete>
    <delete id="unlabel">
        DELETE FROM enhancer_label WHERE enhancer_id = #{enhancerId} AND label_name = #{labelName}
    </delete>
    <delete id="disconnectEnhancerToKnode">
        DELETE FROM enhancer_knode WHERE enhancer_id = #{enhancerId} AND knode_id = #{knodeId}
    </delete>

    <select id="queryByUserId" resultMap="EnhancerMap">
        SELECT
            enhancer.*
        FROM
            user_enhancer
        LEFT JOIN enhancer ON user_enhancer.enhancer_id = enhancer.id
        WHERE user_enhancer.user_id = #{id}
    </select>
    <select id="queryByKnodeId" resultMap="EnhancerMap">
        SELECT
            enhancer.*
        FROM
            enhancer_knode
        LEFT JOIN enhancer ON enhancer_knode.enhancer_id = enhancer.id
        WHERE enhancer_knode.knode_id = #{knodeId}
    </select>
    <select id="queryRelatedKnodeIds" resultType="java.lang.Long">
        SELECT
            knode_id
        FROM
            enhancer_knode
        WHERE enhancer_id = #{enhancerId}
    </select>
</mapper>