<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.juumii.mapper.ResourceMapper">
    <insert id="connectResourceToEnhancer">
        INSERT INTO enhancer_resource (enhancer_id, resource_id) VALUE (#{enhancerId}, #{resourceId})
    </insert>
    <delete id="disconnectResourceFromEnhancer">
        DELETE FROM enhancer_resource WHERE enhancer_id = #{enhancerId} AND resource_id = #{resourceId}
    </delete>
    <select id="queryByEnhancerId" resultType="pers.juumii.data.Resource">
        SELECT
            resource.*
        FROM
            enhancer_resource
        LEFT JOIN resource ON enhancer_resource.resource_id = resource.id
        WHERE enhancer_resource.enhancer_id = #{enhancerId}
    </select>
</mapper>